@use './Variables';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --red-color: #EA5455;
    --orange-color: #FF9F43;
    --yellow-color: #FEDE5C;
    --green-color: #28C76F;
    --blue-color: #5555ff;
    --cyan-color: #00CFE8;
    --purple-color: #7367F0;

    --pink-color: #F0B7CE;
    --gray-color: #818390;
    --white-color: #FFFFFF;
    --black-color: #000000;

    --main-color: #29ffb8;
    --current-color: var(--main-color);
    --text-color: #FFF;
    --none-color: #5f6571;
    --inverted-text-color: #000;

    --background-color: rgb(28, 40, 50);
    --component-color: rgb(28, 69, 70);
    --component-shadow: 0 3px 9px 1px rgba(12, 16, 27, 0.07),
        0 9px 8px rgba(12, 16, 27, 0.005),
        0 1px 6px 4px rgba(12, 16, 27, 0.04);

    --invert-if-dark: invert(1);
    --invert-if-light: invert(0);

    --component-border-radius: 10px;
    --border-radius: 8px;
    --small-border-radius: 5px;
}

body {
    min-height: 100dvh;
    color: var(--text-color);
    background: var(--background-color);
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;

    i, i::before {
        vertical-align: middle;
        // line-height: 0;
    }
    color-scheme: dark;
    // &.theme-dark { color-scheme: dark; }
    // &.theme-light { color-scheme: light; }

    .component {
        display: flex;
        flex-direction: column;
        gap: var(--gap, 10px);
        color: var(--text-color);
        background-color: var(--component-color);
        box-shadow: var(--component-shadow);
        border-radius: var(--component-border-radius);
        &.pad-15 {
            padding: 15px;
        }
    }
    .button {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 5px 10px;
        font-size: 16px;
        border-radius: var(--border-radius);
        cursor: pointer;
        border: none;
        outline: none;
        background-color: var(--main-color);
        color: black;

        @include Variables.hoverable();

        &.flex-start {
            justify-content: flex-start;
        }
    }
}

h1 { font-size: 32px; }
h2 { font-size: 24px; }
h3 { font-size: 18px; }
h4 { font-size: 16px; }
h5 { font-size: 13px; }
h6 { font-size: 10px; }

small { font-size: 13px; }

a {
    color: var(--text-color);
    text-decoration: none;
}